config SECURITY_USERSPACE_AUDIT_SECURITY
	bool "Userspace audit securty"
	depends on SECURITY_NETWORK && AUDIT && NET && INET
	select NETWORK_SECMARK
	default n
	help
		Module d'audit d'application userspace. Pas de contrôle d'accès particulier.

